<header>
    <mat-toolbar>
        <button mat-icon-button (click)="toggleSidebar.emit()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>SportBoard</h1>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="login-button" (click)="navigateToInicioSesion()">
            <mat-icon>account_circle</mat-icon> Sign In
        </button>
    </mat-toolbar>
</header>