mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px; // Ajustar el padding del header para proporcionar más espacio

    .spacer {
        flex: 1 1 auto;
    }

    button.mat-icon-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px; // Ajustar el padding para que el texto no se salga de los márgenes
        white-space: nowrap; // Evitar que el texto se divida en varias líneas
        min-width: 120px; // Asegurar un ancho mínimo para el botón

        mat-icon {
            margin-right: 4px; // Espacio entre el ícono y el texto
        }
    }

    .login-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px; // Ajustar el padding para que el texto no se salga de los márgenes
        white-space: nowrap; // Evitar que el texto se divida en varias líneas
        min-width: 150px; // Asegurar un ancho mínimo para el botón
        font-size: 14px; // Ajustar el tamaño de la fuente si es necesario

        mat-icon {
            margin-right: 8px; // Espacio entre el ícono y el texto
        }
    }
}