// Colores Primarios y Secundarios
$primary: #D4EED1;        // Verde pastel principal
$secondary: #D4EED1;      // Verde pastel claro (para fondos)

$accent: #FFF3B0;         // Amarillo pastel como color de acento
$complementary: #F9C6C9;  // Rosa pastel como color complementario

// Colores de soporte
$support: #B0E0E6;        // Azul pastel suave (fondo secundario)
$dark-primary: #7FB77E;   // Verde oscuro pastel para detalles o texto

// Colores de texto
$font-color-dark: #4F4F4F;   // Color de texto oscuro
$font-color-light: #FFFFFF;  // Color de texto claro

// Otras variables
$transition-duration: 0.3s;  // Duración de las transiciones
