@use '../variables.scss' as *;

.sidenav-container {
    height: 100vh; /* Hace que la aplicación ocupe toda la altura de la ventana */
    width: 100vw; /* Hace que la aplicación ocupe toda la anchura de la ventana */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

mat-sidenav {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $primary; /* Color de fondo del sidebar */
    border-radius: 0%;
    width: 250px; /* Ancho de la barra lateral */
}

mat-sidenav-content {
    margin: 0;
    overflow-x: hidden;
    flex: 1; /* Se ajusta al tamaño disponible */
    display: flex;
    flex-direction: column;
}
